<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppLaunchScreen</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.rcong.RunDJ</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rundj</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>spotify</string>
		<string>spotify-action</string>
	</array>
	<key>SENTRY_DSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>SERVER_API_KEY</key>
	<string>$(SERVER_API_KEY)</string>
	<key>SERVER_BASE_URL</key>
	<string>$(SERVER_BASE_URL)</string>
	<key>SPOTIFY_CLIENT_ID</key>
	<string>$(SPOTIFY_CLIENT_ID)</string>
	<key>SPOTIFY_REDIRECT_URI</key>
	<string>$(SPOTIFY_REDIRECT_URI)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
